header{
    padding: 20px 0px;
}

header button{
    background-color: rgb(115, 115, 236);
    border: none;
    color: white;
    padding: 5px;
    font-weight: 600;
}

ul {
    list-style-type: none;
}

li {
   padding: 10px 20px;
   display: inline;
}

li a {
    text-decoration: none;
}

li a:hover{
    text-decoration: underline;
}

.footer{
    background-color: #f3f3f3;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}




footer ul{    
    padding: 15px 20px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

main{
    text-align: center;
}

.container {
    display: inline-block;
    margin-top: 150px;
}

#searchForm input{
    display: block;
    width: 600px;
    margin: 20px auto;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px 25px;
    line-height: 1.2em;
    border: 1px solid rgb(207, 196, 196);
}

#searchForm button{
    width: 150px;
    height: 35px;
    margin-right: 10px;
    background-color: rgb(241, 237, 237);
    border-radius: 5px;
    box-shadow: none;
    border: none;
}

#searchForm button:hover{
    border: 1px solid rgb(207, 196, 196);
    cursor: pointer;
}